//====================================================================================================
.footer {
  padding-top: 108px;
  padding-bottom: 30px;
  position: relative;

  @media (min-width:$mobile){
    padding-top: 80px; 
  }

  @media (min-width:$tablet){
    padding-top: 130px;
    padding-bottom: 90px; 
  }

  // .footer__container
  &__container {

    @media (min-width:$mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .footer__logo
  &__logo {
    margin-bottom: 30px;

    @media (min-width:$mobile){
      margin-bottom: 0; 
    }
  }

  // .footer__copy
  &__copy {
    font-size: 1rem;

    @media (min-width:$mobile) {
      font-size: 1.6rem;
    }
  }

  // .footer__headphones
  &__headphones {
    width: 65.048px;
    stroke: rgba(255, 0, 0, 1);
    rotate: 20deg;
    scale: -1 1;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);


    @media (min-width:$mobile){
      width: 103.711px;
      top: 40%;
      left: 50%;
      scale: 1 1;
      rotate: -20deg;

      animation: 1.3s ease-in-out alternate 0.3s infinite  footer-head-tab;
    }

    @media (min-width:$pcSmall){
      top: 50%;
    }
  }

}

//====================================================================================================