//====================================================================================================
.header {

	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 5;
		
		row-gap: 30px;

		@media (min-width:$mobile){
			flex-wrap: wrap; 
		}
	}

	// .header__logo
	&__logo {
		flex: 1 1 100%;

		@media (max-width:$mobile){
			.menu-open & {
				position: relative;
				z-index: 10;

				.logo__text {
					color: #ffffff;
				}
			}
		}

		@media (min-width: 1100px){
			flex: 0 0 auto;
		}
	}

	// .header__main-block
	&__main-block {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	// .header__menu
	&__menu {}

	// .header__button
	&__button {
		@media (max-width:$mobile){
			display: none;
		}
	}
}


.menu {

	@media (max-width:$mobile){
		// display: none;
		position: fixed;
		pointer-events: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000000d8;
		padding: 20px;
		transition: all 0.3s ease 0s;
		opacity: 0;

		
		.menu-open & {
			opacity: 1;
			pointer-events: visible;
		}
	}



	// .menu__burger
	&__burger {}

	// .menu__body
	&__body {
		@media (max-width:$mobile){
			// background-color: #000000d8;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);

			display: grid;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;

			overflow-y: scroll;

			.menu-open & {
				transform: translateX(0);
			}
		}
	}

	// .menu__list
	&__list {			
		display: flex;
		align-items: center;

		@media (max-width:$mobile){
			flex-direction: column;
			color: #ffffff;
			gap: 20px;
		}

		@media (min-width:$mobile){
			gap: 40px;
		}


	}
}

.menu-item-has-children {
	position: relative;
	padding-right: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;

	.sub-menu {
		order: 3;
	}

	@media (hover: hover) {
		&:hover {
			.sub-menu {
				pointer-events: visible;
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
			.menu-item__arrow::after{
				transform: rotate(180deg);
			}
		}
	}
}

.menu-item__arrow {
	// position: absolute;
	// z-index: 2;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	order: 2; 

	@media (min-width:$mobile){
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	@media (min-width:$pc){
		pointer-events: none;
	}

	&::after {
		content:'';
		flex: 0 0 40px;
		height: 40px;
		background-image: url("@img/icon/bottom.svg");
		background-size: cover;
		transition: all 0.3s ease 0s;

		@media (min-width:$mobile){
			flex: 0 0 20px;
			height: 20px;
			._show-sub-menu & {
				transform: rotate(180deg);
			}
		}
	}

}

.menu-item a {
	order: 1;
	@media (max-width:$mobile){
		font-size: 3rem; 
	}

	font-size: 1.8rem;
}

.sub-menu {
	position: absolute;
	width: 80%;
	@media (min-width:$mobile){

		top: 100%;
		left: 0;
		width: 250px;
		background-color: #ffffff;
		padding: 15px 10px;
		transition: all 0.3s ease 0s;
		box-shadow: 0px 2px 4px hsla(54, 100%, 48%, 0.164)
	}

	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transform: translateY(15px);

	& > *:not(:last-child) {
		margin-bottom: 10px;
	}


	._show-sub-menu & {
		@media (max-width:$mobile){
			position: relative;
		}

		pointer-events: visible;
		visibility: visible;
		opacity: 1;
		transform: translateY(0);


	}
}

.sub-menu a {
	font-size: 0.9em;
}

.current-page {
	@media (min-width:$mobile){
		font-weight: 700;
		a {
			font-size: 1.6rem;
		}
	}

}



//====================================================================================================

//Burger
.icon-burger  {
	display: none;

	@media (max-width: $mobile) {
		display: grid;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 24px;
		height: 24px;
		padding: 6px 3px;
		cursor: pointer;
		z-index: 15;

		&__lines {
			display: block;
			width: 18px;
			height: 100%;
			position: relative;

			span,
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;

				left: 0px;
				right: 0px;
				position: absolute;
				height: 1px;
				background-color: #000;
			}

			&::before {
				top: 0px;
			}

			&::after {
				bottom: 0px;
			}

			span {
				top: calc(50% - 0.5px);
			}

			.menu-open & {
				span,
				&::before,
				&::after {
					background-color: #ffffff;
				}
				span {
					transform: scale(0);
				}
				&::before {
					transform: rotate(-45deg);
					top: calc(50% - 0px);
				}
				&::after {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}

		}
		
	}

}

