//====================================================================================================
.wrapper {
  padding-top: 20px;

  @media (min-width:$mobile) {
    padding-top: 30px;
  }

  @media (min-width:$pcSmall) {
    padding-top: 50px;
  }
}

//====================================================================================================

.page {
  & > * {
    padding-top: 35px;
    padding-bottom: 35px;

    @media (min-width:$mobile){
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media (min-width:$pcSmall){
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }

  // .page__promo
  &__promo {}

  // .page__services
  &__services {}

  // .page__description
  &__description {}

  // .page__advantages
  &__advantages {}

  // .page__typical-breakdowns
  &__typical-breakdowns {}

  // .page__testimonials
  &__testimonials {}

  // .page__prices
  &__prices {}

  // .page__how-we-work
  &__how-we-work {}

  // .page__contacts
  &__contacts {}
}


.promo {
  padding-top: 75px;

  @media (min-width:$tablet) {
    padding-top: 80px;
  }

  &_home {
    .promo__text {
      display: none;
      @media (min-width:$mobile) {
        display: block;
        height: 195px;

        p {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;

          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-child(2n + 1) {
            &._show {
              animation: 3s linear alternate 0.3s animRt;
            }
          }

      
          &:nth-child(2n + 2) {
            &._show {
              animation: 3s linear alternate 0.3s animBm;
            }
          }
        }
      }


      @media (min-width:$pcSmall) {
        &::after {
          display: none;
        }
      }
    }

    .promo__monitor {
      img {
        opacity: 0;

        &._show {
          animation: 3s ease-out 0.3s alternate animOpa;
        }

        &:nth-child(12n + 5),
        &:nth-child(12n + 11),
        &:nth-child(12n + 12) {
          &._show {
            animation: 3s ease-out 0.3s alternate animFromToScale;
          }
        }

        &:nth-child(12n + 2),
        &:nth-child(12n + 4),
        &:nth-child(12n + 9),
        &:nth-child(12n + 10) { 

          &._show {
            animation: 3s ease-out 0.3s alternate animToScale;
          }
        }

      }
    }

  }

  // .promo__container
  &__container {}

  // .promo__body
  &__body {
    display: grid;

    @media (min-width:$pcSmall) {
      grid-template-columns: 1fr percent(529, 1170);
    }
  }

  //.promo__service-content
  &__service-content {
    padding-top: 30px;
    @media (min-width:$mobile){
      padding-top: 40px;
    }

    @media (min-width:$pcSmall){
      padding-top: 60px;
      font-size: 1.8rem;
    }
  }

  // .promo__content
  &__content {
    display: grid;
    justify-items: center;

    @media (min-width:$pcSmall) {
      padding-top: 60px;
      padding-bottom: 30px;
      
      position: relative;
    }

    @media (min-width:$pcSmall){
      &::after {
        content:'';
        position: absolute;
        aspect-ratio: 120.7 / 57.2;
        width: 119.699px;
        background-image: url("@img/decor/lines-promo.svg");
        background-repeat: no-repeat;
        top: -13%;
        left: 30%;
      }
    }
  }

  // .promo__text-mob
  &__text-mob {
    @media (min-width:$mobile) {
      display: none;
    }
  }

  // .promo__title-mob
  &__title-mob {
    display: grid;
    justify-content: center;
    gap: 10px;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;

    font-size: 3rem;
    span {
      font-size: 2rem;
    }

    margin-bottom: 30px;
  }

  // .promo__text
  &__text {
    // display: none;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width:$mobile) {
      // display: block;
      position: relative;
      width: 100%;
      // height: 195px;
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
    
      margin-bottom: 90px;
      max-width: 601px;

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 535px;
        height: 203px;
        border-radius: 50%;
        background-color: var(--accent-color);
        filter: blur(30px);
        opacity: 0.2;
      }

      p {
        width: 100%;
        height: 100%;
      }
    }


    @media (min-width:$pcSmall) {
      &::after {
        display: none;
      }
    }


  }

  // .promo__button
  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  // .promo__computer
  &__computer {
    position: relative;
    max-width: 289px;
    width: 100%;
    margin: 0 auto;

    @media (min-width:$mobileSmall) {
      max-width: 90%;
    }

    @media (min-width:$mobile) {
      max-width: 570px;
    }
  }

  // .promo__computer-image
  &__computer-image {
    background-image: url("@img/promo/computer-mob.png");
    background-size: cover;
    padding-bottom: percent(446, 529);
    width: 100%;

    @media (min-width:$mobile) {
      background-image: url("@img/promo/computer-tab.png");
      padding-bottom: percent(355.3, 570);
      margin-left: -23px;
    }

    @media (min-width:$pcSmall) {
      background-image: url("@img/promo/computer.png");
      padding-bottom: percent(446.089, 529.384);
    }
  }

  // .promo__monitor
  &__monitor {
    display: none;
    @media (min-width:$pcSmall){
      display: block;
      width: percent(322, 529);
      aspect-ratio: 322 / 191;
      position: absolute;
      top: 22px;
      left: 79px;


      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // opacity: 0;
        // &._show {
        //   animation: 3s ease-out 0.3s alternate animOpa;
        // }

        // &:nth-child(12n + 5),
        // &:nth-child(12n + 11),
        // &:nth-child(12n + 12) {
        //   &._show {
        //     animation: 3s ease-out 0.3s alternate animFromToScale;
        //   }
        // }

        // &:nth-child(12n + 2),
        // &:nth-child(12n + 4),
        // &:nth-child(12n + 9),
        // &:nth-child(12n + 10) { 

        //   &._show {
        //     animation: 3s ease-out 0.3s alternate animToScale;
        //   }
        // }

      }
    }
  }

  // .promo__flash-drive
  &__flash-drive {
    width: 50.98px;
    transform: rotate(-132.726deg);
    top: -23%;
    left: 5%;
    stroke: #F18200;

    @media (min-width:$mobile) {
      width: 58.58px;
      top: 42%;
      left: -1%;

      animation: 1.3s ease-in-out 0s infinite alternate promo-usb-tab;
    }

    @media (min-width:$pcSmall) {
      width: 63px;
      top: -10%;
      left: -10%;

      stroke: #9747FF;
      // animation: 1s ease-in-out infinite alternate promo-usb-pc;
      animation: none;
    }
  }

  // .promo__headphones
  &__headphones {
    width: 76.559px;
    transform: rotate(50.94deg);
    top: -310px;
    left: 70%;
    stroke: #0038FFA6;

    @media (min-width:$mobile) {
      width: 109.821px;
      transform: rotate(344deg);
      top: -36px;
      left: 20%;
    }

    @media (min-width:$pcSmall) {
      width: 135.77px;
      top: 49%;
      left: -22%;
      stroke: #0038FF;
    }
  }

  // .promo__adapter
  &__adapter {
    width: 90px;
    top: -34%;
    right: 2%;

    stroke: #277DFF80;

    @media (min-width:$mobile) {
      width: 165px;
      top: 63%;
      right: -11%;
      stroke: #BF07C3;

      animation: 1.72s ease-in-out 0s infinite alternate promo-adapter-tab;
    }

    @media (min-width:$pcSmall) {
      width: 217px;
      top: -13%;
      right: -33%;
      // animation: 0.42s steps(2) 0s infinite alternate promo-adapter-pc;
      stroke: #277DFF80;
      animation: none;
    }
  }

  // .promo__mouse
  &__mouse {
    width: 100.52px;
    // transform: rotate(147.92deg);
    rotate: 147.92deg;
    bottom: -45px;
    right: 51%;
    stroke: #BF07C3;

    animation: 0.6s ease-in 0s infinite alternate promo-mouse-mob;

    @media (min-width:$mobile) {
      scale: -1 1;
      width: 112.83px;
      bottom: -17%;
      rotate: 223deg;
      right: 58%;
      stroke: #FF0000;
      animation: none;
    }

    @media (min-width:$pcSmall) {
      width: 172px;
      bottom: 24%;
      right: -25%;
      rotate: 180deg;
      animation: 0.6s ease-in 0s infinite alternate promo-mouse-pc;
      stroke: #BF07C3;
    }
  }
}

//====================================================================================================

.services {
  // padding-top: 65px;
  // padding-bottom: 65px;

  // .services__container
  &__container {
  }

  // .services__title
  &__title {}

  // .services__body
  &__body {
    position: relative;
  }

  // .services__motherboard
  &__motherboard {
    width: 1482px;
    stroke: #CACACA80;
    object-fit: contain;
    background-size: contain;

    top: -13px;
    right: -5%;

    @media (min-width:$mobile){
      width: 1600px;
      top: -30px;
      animation: 1.9s ease-in-out alternate 0.3s infinite motherboard;
      // animation-name: motherboard;
    }

    @media (min-width:$pcSmall){
        display: none;
    }
  }


  // .services__list
  &__list {
    display: grid;
    justify-content: center;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top right;
    }

    

    @media (max-width:$mobile) {
      &._hidden {
        &>div {
          display: none;
        }

        &>div:nth-child(1),
        &>div:nth-child(2),
        &>div:nth-child(3) {
          display: grid;
        }
      }
    }




    @media (min-width:$mobile) {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 270px 270px;
      grid-auto-flow: column;
      column-gap: 30px;
      row-gap: 28px;

      .services__item {
        &:nth-child(1) {
          .services__item-image {
            &::after {
              animation-delay: .5s;  
            }
          }
        }
        &:nth-child(2) {
          .services__item-image {
            &::after {
              animation-delay: 1s;  
            }
          }
        }
        &:nth-child(3) {
          .services__item-image {
            &::after {
              animation-delay: 1.5s;  
            }
          }
        }
        &:nth-child(4) {
          .services__item-image {
            &::after {
              animation-delay: 2s;  
            }
          }
        }
        &:nth-child(5) {
          .services__item-image {
            &::after {
              animation-delay: 2.5s;  
            }
          }
        }
        &:nth-child(6) {
          .services__item-image {
            &::after {
              animation-delay: 3s;  
            }
          }
        }
      }
    }

    @media (min-width:$tablet) {
      &::after {
        display: none;
      }
    }
  }

  // .services__item
  &__item {
    display: grid;
    gap: 10px;
    justify-content: center;
    text-align: center;
  }

  // .services__item-image
  &__item-image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 61px;
      height: 100%;
      border-radius: 50%;
      // background-color: rgba(252, 227, 8, 0.5);
      background-color: rgba(252, 227, 8, 1);
      filter: blur(20px);

      @media (min-width:$mobile){
        opacity: 0.39;
        animation: 3s ease-in infinite alternate bolb-stack;
      }

    }

  }

  // .services__item-title
  &__item-title {
    font-size: 1.2rem;
    margin-bottom: 10px;

    @media (min-width:$mobile) {
      font-size: 1.8rem;
    }
  }

  // .services__button
  &__button {
    padding-top: 30px;
    display: flex;
    justify-content: center;

    @media (min-width:$mobile) {
      display: none;
    }
  }

  // .services__flash-drive
  &__flash-drive {
    display: none;

    @media (min-width:$pcSmall){
      display: block;
      width: 87px;
      stroke: #F18200;
      left: 13%;
      top: 15%;
      rotate: 240deg;

      // animation: none;
      animation: 1.6s ease-in-out 0s infinite alternate services-usb-pc;
    }
  }


}

//====================================================================================================

.description {
  // padding-top: 65px;
  // padding-bottom: 65px;

  // .description__container
  &__container {
    display: grid;
    align-items: start;
    gap: 42px;

    @media (min-width:$tablet) {
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }

  }


  // .description__wrapper-image
  &__wrapper-image {
    display: flex;
    justify-content: center;
  }

  // .description__image
  &__image {
    width: percent(470, 569);
    aspect-ratio: 472 / 271;
    background-image: url("@img/description/desk.png");
    background-size: cover;
    position: relative;
  }

  // .description__buttons
  &__buttons {
    width: 100%;
    height: 100%;

    @media (min-width:$mobile){
      &:hover,
      &:active {
        .decor__line {
          animation: 1.3s ease-in-out 0s infinite normal;
          &_1 {
            animation-name: line-1;
          }
          &_2 {
            animation-name: line-2;
          }
          &_3 {
            animation-name: line-3;
          }
        }

        .key {
          &_a {
            animation-name: btn-a;
            .key__back {
              animation-name: btn-a-back;
            }
          }

          &_s {
            animation-name: btn-s;
            .key__back {
              animation-name: btn-s-back;
            }
          }
    
          &_u {
            animation-name: btn-u;
            .key__back {
              animation-name: btn-u-back;
            }
          }
    
          &_p {
            animation-name: btn-p;
            .key__back {
              animation-name: btn-p-back;
            }
          }
    
          &_v {
            animation-name: btn-v;
            .key__back {
              animation-name: btn-v-back;
            }
          }
    
          &_x {
            animation-name: btn-x;
            .key__back {
              animation-name: btn-x-back;
            }
          }
    
          &_g {
            animation-name: btn-g;
            .key__back {
              animation-name: btn-g-back;
            }
          }
    
          &_s2 {
            animation-name: btn-s2;
            .key__back {
              animation-name: btn-s2-back;
            }
          }
    
          &_o {
            animation-name: btn-o;
            .key__back {
              animation-name: btn-o-back;
            }
          }
    
          &_q {
            animation-name: btn-q;
            .key__back {
              animation-name: btn-q-back;
            }
          }
    
          &_h {
            animation-name: btn-h;
            .key__back {
              animation-name: btn-h-back;
            }
          }
    
          &_d {
            animation-name: btn-d;
            .key__back {
              animation-name: btn-d-back;
            }
          }
    
          &_w {
            animation-name: btn-w;
            .key__back {
              animation-name: btn-w-back;
            }
          }
    
          &_k {
            animation-name: btn-k;
            .key__back {
              animation-name: btn-k-back;
            }
          }
    
          &_z {
            animation-name: btn-z;
            .key__back {
              animation-name: btn-z-back;
            }
          }
    
          &_k2 {
            animation-name: btn-k2;
            .key__back {
              animation-name: btn-k2-back;
            }
          }
    
          &_c {
            animation-name: btn-c;
            .key__back {
              animation-name: btn-c-back;
            }
          }
    
          &_y {
            animation-name: btn-y;
            .key__back {
              animation-name: btn-y-back;
            }
          }
    
          &_l {
            animation-name: btn-l;
            .key__back {
              animation-name: btn-l-back;
            }
          }
    
          &_e {
            animation-name: btn-e;
            .key__back {
              animation-name: btn-e-back;
            }
          }
    
          &_f {
            animation-name: btn-f;
            .key__back {
              animation-name: btn-f-back;
            }
          }
        }

      }

      & > .key {
        animation: 1.3s ease-in-out 0s infinite normal;
      }

      & > .decor__line {
        animation: 1.3s ease-in-out 0s infinite normal;
      }
    }

    .key {
      &_a {
        left: 33%;
        top: 3%;
        transform: rotate(22.483deg);
        .key__back {
          background-color: #FCE30880;
        }


      }

      &_s {
        left: 43%;
        top: 8%;
        transform: rotate(-24.974deg);
        .key__back {
          background-color: #6AA5FF80;
        }
      }

      &_u {
        left: 57%;
        top: 13%;
        transform: rotate(17.344deg);
        .key__back {
          background-color: #FF000080;
        }
      }

      &_p {
        left: 72%;
        top: 13%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #A6FEEE80;
        }
      }

      &_v {
        left: 19%;
        top: 18%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FF000080;
        }
      }

      &_x {
        left: 32%;
        top: 27%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #0066FF80;
        }
      }

      &_g {
        left: 42%;
        top: 35%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FF000080;
        }
      }

      &_s2 {
        left: 70%;
        top: 35%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FCE30880;
        }
      }

      &_o {
        left: 80%;
        top: 41%;
        transform: rotate(-13.929deg);
        .key__back {
          background-color: #FF000080;
        }
      }

      &_q {
        left: 11%;
        top: 36%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #277DFFB8;
        }
      }

      &_h {
        left: 22%;
        top: 45%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FCE30880;
        }
      }

      &_d {
        left: 33%;
        top: 50%;
        transform: rotate(-24.934deg);
        .key__back {
          background-color: #6AA5FF80;
        }
      }

      &_w {
        left: 54%;
        top: 56%;
        transform: rotate(13.139deg);
        .key__back {
          background-color: #6AA5FF80;
        }
      }

      &_k {
        left: 68%;
        top: 60%;
        transform: rotate(13.507deg);
        .key__back {
          background-color: #6AA5FF80;
        }
      }

      &_z {
        left: 78%;
        top: 62%;
        transform: rotate(-12.14deg);
        .key__back {
          background-color: #277DFFB8;
        }
      }

      &_k2 {
        left: 8%;
        top: 63%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FF000080;
        }
      }

      &_c {
        left: 20%;
        top: 61%;
        transform: rotate(15.471deg);
        .key__back {
          background-color: #A6FEEE80;
        }
      }

      &_y {
        left: 32%;
        top: 74%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FCE30880;
        }
      }

      &_l {
        left: 46%;
        top: 71%;
        transform: rotate(10.894deg);
        .key__back {
          background-color: #A6FEEE80;
        }
      }

      &_e {
        left: 59%;
        top: 75%;
        transform: rotate(-3.575deg);
        .key__back {
          background-color: #FF000080;
        }
      }

      &_f {
        left: 71%;
        top: 82%;
        transform: rotate(13.909deg);
        .key__back {
          background-color: #FCE30880;
        }
      }
      /////
    }

    .decor__line {
      &_1 {
        width: percent(228.746, 470);
        transform: rotate(31.178deg);
        top: 25%;
        left: 23%;
      }

      &_2 {
        top: 26%;
        left: 63%;
      }

      &_3 {
        top: 63%;
        left: 30%;
      }
    }

  }
  
  // .description__content
  &__content {}

  // .description__text
  &__text {
    text-align: center;
    margin-bottom: 30px;

    p {
      font-size: 1.8rem;
    }

    @media (min-width:$tablet) {
      margin-bottom: 60px;
      text-align: left;
    }

  }


  // .description__button
  &__button {
    display: flex;
    justify-content: center;

    @media (min-width:$tablet) {
      justify-content: start;
    }
  }
}


//====================================================================================================

.advantages {
  // padding-top: 65px;
  // padding-bottom: 65px;
  // .advantages__container

  &__container {}

  // .advantages__title

  &__title {
  }

  // .advantages__body

  &__body {
    max-width: 670px;
    margin: 0 auto;
    display: grid;
    justify-items: center;

    position: relative;
  }

  // .advantages__motherboard
  &__motherboard {
    width: 1482px;
    stroke: #CACACA80;
    object-fit: contain;
    background-size: contain;

    top: -13px;
    left: 19%;
    transform: translateX(-50%);

    @media (min-width:$mobile){
      display: none;
    }

    @media (min-width:$pcSmall){
      display: block;
      width: 1598px;
      top: -95px;
      left: 50%;
      transform: rotate(180deg) translateX(50%);
      animation: 1.9s ease-in-out alternate 0.3s infinite motherboard;
    }
  }

  // .advantages__list

  &__list {
    display: grid;
    row-gap: 30px;
    margin-bottom: 60px;

    .advantages__item {
      &:nth-child(1) {
        .item-advantages__image {
          &::before {
            animation-delay: 0.5s;  
          }
        }
      }
      &:nth-child(2) {
        .item-advantages__image {
          &::before {
            animation-delay: 1s;  
          }
        }
      }
      &:nth-child(3) {
        .item-advantages__image {
          &::before {
            animation-delay: 1.5s;  
          }
        }
      }
      &:nth-child(4) {
        .item-advantages__image {
          &::before {
            animation-delay: 2s;  
          }
        }
      }
    }
  }

  // .advantages__item
  &__item {}

  // .advantages__headphones
  &__headphones {
    width: 79px;
    stroke: rgba(191, 7, 195, 0.55);
    top: -10%;
    left: 5%;
    scale: -1 1;
    rotate: -55deg;

    @media (min-width:$mobile){
      width: 160px;
      stroke: #0038FF;
      scale: 1 1;
      top: 70%;
      left: 74%;
      rotate: 57deg;

      animation: 1.42s linear 0s infinite alternate advantages-head-tab;
    }

    @media (min-width:$pcSmall){
      width: 130px;
      stroke: rgba(191, 7, 195, 0.55);
      top: 93%;
      left: 91%;
    }
  }

  // .advantages__adapter
  &__adapter {
    display: none;
    @media (min-width:$pcSmall){
      display: block;
      width: 217px;
      stroke: rgba(191, 7, 195, 0.55);
      top: -8%;
      left: 79%;
    }
  }

}

.item-advantages {
  display: grid;
  justify-items: center;
  justify-content: center;

  gap: 20px;

  @media (min-width:$mobile) {
    grid-template-columns: 86.746px 1fr;
    justify-content: start;
    justify-items: start;
  }


  // .item-advantages__image
  &__image {
    background-image: url("@img/decor/quality-mark.svg");
    background-size: cover;
    width: 42.849px;
    height: 51.288px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background-color: #F3DB00;
      filter: blur(14px);

      animation: 1.6s ease-in infinite alternate bolb;
    }


    &::after {
      content: '';
      position: absolute;
      background-image: url("@img/decor/quality-mark-petal.svg");
      background-size: contain;
      // background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      aspect-ratio: 42.85 / 37.35;
      text-align: left;
      z-index: 1;

      animation: 1.6s ease-in 0s infinite alternate quality-mark;
    }



    @media (min-width:$mobile) {
      width: 63px;
      height: 76px;
    }
  }

  // .item-advantages__body
  &__body {
    text-align: center;

    @media (min-width:$mobile) {
      text-align: left;
    }
  }

  // .item-advantages__title

  &__title {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (min-width:$mobile) {
      font-size: 4rem;
      text-transform: none;
    }
  }

  // .item-advantages__text
  &__text {
    font-size: 1.2rem;

    @media (min-width:$mobile) {
      font-size: 1.8rem;
    }
  }
}

//====================================================================================================

.typical-breakdowns {
  // padding-top: 65px;
  // padding-bottom: 65px;

  // .typical-breakdowns__container
  &__container {}

  // .typical-breakdowns__title

  &__title {
    // margin-bottom: 60px;
  }

  // .typical-breakdowns__body

  &__body {}

  // .typical-breakdowns__mob
  &__mob {
    display: grid;
    gap: 30px;
    justify-items: center;

    @media (min-width:$mobile) {
      display: none;
    }
  }

  // .typical-breakdowns__mob-grid
  &__mob-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 60px;


    &._hidden {
      &>div {
        display: none;
      }

      &>div:nth-child(1),
      &>div:nth-child(2) {
        display: grid;
      }

      &>div:nth-child(2)::after {
        display: none;
      }
    }

  }


  // .typical-breakdowns__slider
  &__slider {
    display: none;

    @media (min-width:$mobile) {
      display: flex;
    }
  }

  // .typical-breakdowns__swiper
  &__swiper {

    @media (min-width:$mobile) {
      margin-bottom: 60px;
    }
  }

  // .typical-breakdowns__pagging
  // &__pagging {

  // }


  // .typical-breakdowns__slide

  &__slide {
    position: relative;
    border: 1px solid #000000;
    padding: 11px 21px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    min-height: 200px;

    @media (min-width:$mobile){
      min-width: 200px;
      width: auto;
    }

    @media (min-width:$pcSmall){
      max-width: 200px;
      min-width: unset;
    }

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        background-image: url("@img/bulb-nolight.svg");
        background-size: cover;
        width: 24.117px;
        height: 40.08px;

        position: absolute;
        bottom: -52px;
        right: 50%;
        transform: translate(50%, 0);

        @media (min-width:$mobile) {
          bottom: unset;
          top: 50%;
          right: -34px;
          transform: translate(0, -50%);
        }

        @media (min-width:$mobile){

          animation: 1.3s ease-in-out 0s infinite normal;
          animation-name: bolb-scale;
        }

      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   z-index: -1;
      //   bottom: -55px;
      //   right: 50%;
      //   transform: translate(50%, 0);
      //   width: 18px;
      //   height: 35px;
      //   border-radius: 50%;
      //   background-color: #F3DB00;
      //   filter: blur(14px);

      //   @media (min-width:$mobile) {
      //     bottom: unset;
      //     top: 50%;
      //     right: -30px;
      //     transform: translate(0, -50%);


      //     animation: 1.3s ease-in-out 0s infinite normal;
      //     animation-name: bolb;
      //   }
      // }
    }
  }

  // .typical-breakdowns__slide-text
  &__slide-text {
    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }


  // .typical-breakdowns__pagging
  &__pagging {
    @media (min-width:$tablet) {
      display: none;
    }
  }

}

//====================================================================================================

.testimonials {
  // padding-top: 65px;
  // padding-bottom: 65px;

  // .testimonials__container

  &__container {}

  // .testimonials__title
  &__title {
    margin-bottom: 20px;
  }

  // .testimonials__subtitle
  &__subtitle {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;

    @media (min-width:$mobile) {
      margin-bottom: 40px;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 60px;
    }
  }

  // .testimonials__body
  &__body {}

  // .testimonials__slider-wrapper
  &__slider-wrapper {
    position: relative;
    margin-bottom: 30px;

    @media (min-width:$mobile) {
      max-width: 520px;
      margin: 0 auto;

      @media (min-width:$tablet) {
        max-width: 709px;
      }
    }

    @media (min-width:$pc) {
      max-width: 1038px;
    }
  }


  // .testimonials__slider
  &__slider {
    margin-bottom: 30px;

    @media (min-width:$mobile) {
      margin: 0 auto 40px;
    }
  }

  // .testimonials__swiper
  &__swiper {}

  // .testimonials__slide

  &__slide {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  // .testimonials__pagging
  &__pagging {
    @media (min-width:$mobile) {
      display: none;
    }
  }


  // .testimonials__arrows
  &__arrows {
    display: none;

    @media (min-width:$mobile) {
      display: flex;
      justify-content: space-between;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% + 100px);
      margin: 0 -50px;

    }

    @media (min-width:$pc) {
      width: calc(100% + 150px);
      margin: 0 -75px;
    }

    @media (min-width: 1550px) {
      width: calc(100% + 422px);
      margin: 0 -211px;
    }

  }


  // .testimonials__arrow
  &__arrow {
    background-image: url("@img/icon/arrow-left.svg");
    background-size: cover;

    @media (min-width:$mobile) {
      width: 40px;
      height: 18px;
    }

    @media (min-width:$pc) {
      cursor: pointer;
      width: 61.833px;
      height: 26.5px;
    }

    // .testimonials__arrows_prev
    &_prev {}

    // .testimonials__arrows_next
    &_next {
      transform: rotate(180deg);
    }
  }

  // .testimonials__button
  &__button {
    display: flex;
    justify-content: center;
  }
  
  // .testimonials__headphones
  &__headphones {
    width: 44px;
    stroke: #0038FF;
    top: -15%;
    left: 55%;
    rotate: 50.94deg;

    @media (min-width:$mobile){
      width: 104px;
      stroke: #FF0000;
      top: -21%;
      left: 2%;
      rotate: -26.36deg;

      animation: 1.6s ease-in-out alternate 0s infinite testimonials-head-tab;
    }

    @media (min-width:$pcSmall){
      width: 203px;
      stroke: #0038FF;
      left: 1%;
      scale: -1 1;
      rotate: -50deg;
      // animation-name: testimonials-head-pc;
      animation-name: none;
    }

    @media (min-width: 1600px){
      left: -20%;
    }
  }


}

.slide-testimonials {
  max-width: 250px;
  height: 100%;
  padding: 11px 9px 11px 7px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("@img/icon/rect.svg");
    background-size: cover;

  }

  // .slide-testimonials__header
  &__header {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    margin-bottom: 10px;
  }

  // .slide-testimonials__image
  &__image {
    img {
      width: 100%;
    }
  }

  // .slide-testimonials__name
  &__name {
    font-size: 1.8rem;
  }

  // .slide-testimonials__text
  &__text {
    font-size: 1.2rem;
  }
}

//====================================================================================================
.prices {
  // padding-top: 65px;
  // padding-bottom: 65px;

  // .prices__container
  &__container {
    position: relative;
  }

  // .prices__title
  &__title {
    margin-bottom: 30px;

    @media (min-width:$mobile) {
      margin-bottom: 40px;
    }

    @media (min-width:$pc) {
      margin-bottom: 90px;
    }
  }

  // .prices__body
  &__body {
  }

  // .prices__body-grid
  &__body-grid {
    @media (max-width:$tablet) {
      &._hidden {
        & > ul:nth-child(2) {
          display: none;
        }

      }
    }

    @media (min-width:$tablet) {
      display: flex;
      justify-content: space-between;
    }
  }


  // .prices__list
  &__list {
    display: grid;
    gap: 30px;
    margin: 0 auto 30px;
    max-width: 390px;
    @media (min-width:$mobile) {
      width: 390px;
      margin-bottom: 40px;
    }

    @media (min-width:$pcSmall) {
      margin-bottom: 90px;
    }

    &_2 {
      display: none;

      @media (min-width:$tablet) {
        display: grid;
      }
    }
  }

  // .prices__item
  &__item {}

  // .prices__button
  &__button {
    display: flex;
    justify-content: center;

    @media (min-width:$tablet) {
      display: none;
    }
  }

  // .prices__button-call
  &__button-call {
    display: none;

    @media (min-width:$tablet){
      display: flex;
      justify-content: center;
    }
    }

  // .prices__flash-drive
  &__flash-drive {
    width: 44px;
    stroke: #9747FF;
    top: 100%;
    left: 80%;
    rotate: -25deg;
    animation: 1.3s ease-in-out alternate 0.3s infinite prices-usb-mob;

    @media (min-width:$mobile){
      display: none; 
    }
  }

  // .prices__mouse
  &__mouse {
    display: none;

    @media (min-width:$mobile){
      display: block;
      width: 130px;
      stroke: #BF07C3;
      top: 98%;
      left: 68%;
      scale: -1 1;
      rotate: 166deg;
    }

    @media (min-width:$pcSmall){
      width: 282px;
      top: -130px;
      left: 72%;
    }
  }


}

.item-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  font-size: 1.8rem;

  @media (min-width:$mobile) {
    &::after {
      content: '';
      display: block;
      flex: 1 1 auto;
      align-self: flex-end;
      height: 7px;
      background-image: url("@img/decor/lines-2.svg");
      background-image: url("@img/decor/lines-3.svg");
      // background-size: contain;
      background-repeat: no-repeat;
      order: 2;
    }
  }



  // .item-prices__title
  &__title {
    order: 1;

  }

  // .item-prices__price
  &__price {
    order: 3;
  }

}

//====================================================================================================
.how-we-work {
  // padding-top: 65px;
  // padding-bottom: 65px;

  // .how-we-work__container
  &__container {}

  // .how-we-work__title
  &__title {
    @media (min-width:$tablet){
      margin-bottom: 90px; 
    }
  }

  // .how-we-work__slider-wrapper
  &__slider-wrapper {
    margin-bottom: 30px;
    margin: 0 -16px 0 0;

    @media (min-width:$mobile) {
      max-width: 635px;
      margin: 0 auto;
    }

    @media (min-width:$pcSmall) {
      max-width: 100%;
    }
  }

  // .how-we-work__slider
  &__slider {
    margin:  -40px -20px 0 -20px;
    padding:  40px 20px 0 20px;
  }

  // .how-we-work__swiper
  &__swiper {
    margin-bottom: 30px;

    @media (min-width:$pcSmall){
      justify-content: space-between; 
    }
  }

  // .how-we-work__slide
  &__slide {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    opacity: 0;
    transition: all 0.3s ease 0s;

    &.swiper-slide-active,
    &.swiper-slide-next {
      opacity: 1;
    }


    &:not(:last-child) {
      &::before {
        content: '';
        position: absolute;
        right: 14px;
        top: 8px;
        width: 76.549px;
        height: 55.798px;
        // background-color: rgba(252, 227, 8, 0.7);
        background-color: rgba(252, 227, 8, 1);
        border-radius: 50%;
        filter: blur(20px);

        @media (min-width:$mobile) {
          opacity: 0.39;
          top: 50%;
          transform: translateY(-50%);
          // animation: 1.6s ease-in 0s infinite alternate bolb;
          animation: 1.6s ease-in 0s infinite alternate bolb;
        }

        @media (min-width:$pcSmall){
          top: 50%;
          right: -100px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 0;
        background-image: url("@img/icon/hand.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 59px;
        width: 92.176px;

        @media (min-width:$mobile) {
          top: 50%;
          transform: translateY(-50%);
        }

        @media (min-width:$pcSmall){
          right: -109px;
        }
      }

    }

    @media (min-width:$pcSmall) {
      align-items: center;
      opacity: 1;

      // &:last-child {
      //   width: 200px;
      // }
    }

  }

  // .how-we-work__pagging
  &__pagging {
    margin-bottom: 30px;

    @media (min-width:$pcSmall) {
      display: none;
    }
  }

  // .how-we-work__flash-drive
  &__flash-drive {
    display: none;
    @media (min-width:$pcSmall){
      display: block;
      width: 82px;
      stroke: #F18200;
      rotate: -116.87deg;
      top: -14%;
      left: -4%;
      animation: 1.3s ease-in-out alternate 0.3s infinite  contacts-usb-tab;

    }
  }

  // .how-we-work__adapter
  &__adapter {
    display: none;
    
    @media (min-width:$pcSmall){
      display: block;
      stroke: #277DFF;
      rotate: -18deg;
      width: 115px;
      top: -24%;
      left: 97%;
    }
  }

}

.slider-how-we-work {

  border: 1px solid #000;
  // padding: 63px 18px 68px;
  padding: 18px;
  min-height: 200px;
  min-width: 200px;
  // max-width: 200px;
  width: calc(100% - 105.176px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width:$pcSmall){
    width: calc(100% - 124px);
    width: 200px;
  }

  // .slider-how-we-work__text
  &__text {
    text-align: center;
  }
}


//====================================================================================================

.contacts {
  // padding-top: 65px;

  // .contacts__container
  &__container {
    position: relative;
  }

  // .contacts__title
  &__title {
    margin-bottom: 30px;

    @media (min-width:$mobile) {
      text-align: left;
    }

    @media (min-width:$tablet) {
      margin-bottom: 12px;
    }

  }

  // .contacts__body
  &__body {

    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 30px;

    @media (min-width:$tablet) {
      min-width: 770px;
      grid-template-columns: auto auto;
      justify-content: start;
      column-gap: 100px;
    }


  }

  // .contacts__main
  &__main {
    display: grid;
    gap: 20.5px;
    font-size: 1.8rem;

    @media (min-width:$mobile) {
      grid-template-columns: auto auto;
      
      column-gap: 116px;
      align-items: end;
    }
  }

  // .contacts__item
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;

    &::before {
      font-size: 21px;
    }
  }


  // .contacts__motherboard
  &__motherboard {
    width: 569px;
    width: percent(569,320);
    stroke: rgba(202, 202, 202, 0.50);
    

    right: -5%;
    top: 50%;
    transform: translateY(-50%);


    @media (min-width:$mobile){
      width: 1600px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
    }

    @media (min-width:$pcSmall){
      top: -100%;
      transform: translate(-50%, 0);
      animation: 1.9s ease-in-out alternate 0.3s infinite motherboard;
    }
  }

  // .contacts__flash-drive
  &__flash-drive {
    width: 34px;
    stroke: #F18200;

    top: -10%;
    left: 5%;
    rotate: -116.87deg;
    animation: 2.1s ease-in-out alternate 0.3s infinite contacts-usb-mob;

    @media (min-width:$mobile){
      display: none;
      // width: 82px;
      // top: -100px;
      // left: 13%;
      // animation: 1.3s ease-in-out alternate 0.3s infinite  contacts-usb-tab;
    }

    @media (min-width:$pcSmall){
      display: none;
    }
  }

  // .contacts__headphones
  &__headphones {
    width: 79px;
    stroke: #0038FF;

    bottom: -50%;
    left: 10%;
    rotate: -26deg;

    @media (min-width:$mobile){
      // width: 158px;
      // scale: -1 1;
      // rotate: 20deg;
      // bottom: 36%;
      // left: 40%;
      display: none;
    }

    @media (min-width:$pcSmall){
      display: block;
      width: 158px;
      scale: -1 1;
      rotate: 20deg;

      bottom: -79%;
      left: 83%;
      animation: 1.3s ease-in-out alternate 0.3s infinite  contacts-head-tab;
    }
  }

  // .contacts__adapter
  &__adapter {
    width: 76px;
    stroke: #277DFF;

    top: -25%;
    left: 70%;
    rotate: -18deg;

    @media (min-width:$mobile){
      display: none;
      // width: 88px;
      // top: 109%;
      // left: 73%;
    }

    @media (min-width:$pcSmall){
      display: none;
    }
  }

}



//====================================================================================================




//====================================================================================================




//====================================================================================================